@import 'reset.scss';
@import 'variables.scss';

html{

}
body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}
h1{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
p{
  margin-bottom: 15px;
}
b, strong{
  font-weight: 600;
}
.app-container{

}
.content-container{
  padding: 15px;
}
.btn{
  padding: 5px 15px;
  border: 1px solid #eee;
  background: $primary-color;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;

  &.btn-lg{
    font-size: 16px;
    padding: 7px 20px;
  }
}
.hide{
  display: none !important;
}
.vertical-table{
  tr{
    th{
      font-weight: 600;
      text-align: left;
      padding-right: 15px;
      padding-bottom: 5px;
      white-space: nowrap;
    }
    td{
      padding-bottom: 5px;
    }
  }
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary-color;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
